*{
	margin: 0;
	padding: 0;
}


a{
	text-decoration: none;
}
a:hover{
	font-weight: bold;
	color: red;
}
img{
	height: 300px;
}
.imgContainer{
	text-align: center;
}

body{
    background-color: blue;
}
/*header*/
header{
	opacity: 0.75;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0px;
	margin-top: 10px;
}
header div{
	height: 75px;
	background-color: black;
	
}
header h1{
	width: 33%;
	float: left;
	text-align: left;
	padding-left: 2%;
	line-height: 75px;
    vertical-align: middle;
    color: white;
}
header nav{
	width: 64%;
	float: right;
	text-align: right;
	padding-top: 20px;
}
header ul li{
	display:inline;
	padding-right: 10px; 
	list-style-type: none;
}
header a{
	color: white;
	padding: 0px;
}
.navhighlight{
	font-size: 25px;
}

/*footer*/
footer ul {
	list-style-type: none;
	font-weight: bold;
}
.footerout{
	width: 100%;
	background-color: blue;
}
.footerin{
	width: 100%;
	margin-top: 10px;
	padding-top: 80px;
	padding-bottom: 80px;
	color: black;
	text-align: center;
}
.footerin hr{
	width: 20%;
	margin: auto;
}
/*main*/
.container{
    width: 960px;
    height: 100%;
    margin: auto;
    background-color: white;
    padding-top: 100px;
}
.container h1{
	text-align: center;
	margin-top: 60px;
}
.container h3{
	text-align: center;
}
.container p,a{
	padding: 40px;
	line-height: 1.5;
}

.ulContainer{
	width: 100%;
	margin: 40px;
}
.container li{
	margin: 10px 0;
  }
.container ul {
    width: 70%;
    margin: auto;
}
.mapContainer {
    display: flex;
    width: 960px;
    height: 370px;
}
.mapContainer > div {
    flex: 1; /*grow*/
}

.fresnelPlotContainer {
    display: flex;
    width: 960px;
    height: 370px;
}
.fresnelPlotContainer > div {
    flex: 1; /*grow*/
}

.labelContainer {
    display: flex;
    width: 960px;
}
.labelContainer > div {
    flex: 1; /*grow*/
}

.sysPlotContainer{
    display: flex;
    width: 100%;
}

.sysPlotContainer > div {
	margin: auto;
}
#thanksContainer{
	padding-bottom: 40px;
}
